

<div id="welcome_message">
  <div id="welcome_el">


  Welcome to the <span style="color:rgb(128, 128, 255)">Burger deals tracker</span> <br><br>
  In this website you can manage your favourite burger restaurants, their menus, and the deals they offer each day of the week. You can also figure out how much money you can save by checking which restaurants offer deals in a specific day of the week.<br><br>
  WELCOME!
  </div>
</div>
