<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My burger deals!</title>
    <link rel="shortcut icon" href="/burger_icon.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <header>
      <a href="\eateries">Burger deals tracker</a>
    </header>

    <nav class="nav_container">
      <div>
        <a href="/eateries">See all the restaurants</a>
      </div>
      <div>
        <a href="/eateries/new">Add a new restaurant</a>
      </div>
      <div>
        <a href="/deals/new">Add a new deal</a>
      </div>
      <div>
        <a href="/dow">Check today's deals!</a>
      </div>

    </nav>
  </head>
  <body>
    <section class="main"
      <div>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
