<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My burger deals!</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <header>
      <a href="\eateries">My Burger Tracker Website</a>
    </header>
    <nav>
      <ul>
        <li><a href="/eateries">See all the eateries</a></li>
        <li><a href="/eateries/new">Add a new eatery</a></li>
        <li><a href="/dow">Today's deals!</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
