/*html {
    position: relative;
    min-height: 100%;
}*/


body {
  font-family: 'Droid Serif', serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}*/

a:link {
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: grey;
}

header a:hover{
  color: white;
  text-decoration: none;
}

li {
  color: black;
  display: inline;
  margin: 20px;
}

h1{
  text-align: center;
}


header {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

form {
  padding: 5px;
}

button{
  font-variant: small-caps;
  cursor:pointer;
}

footer{
  border: 1px solid;
  height: 100px;
  text-align: center;
}

.nav_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(1, 0, 0, 0.2);
  height: 50px;
  line-height: 50px
}

.burger_name{
  font-variant: small-caps;
  font-size: 1.2em;
}

.deal_name{
  font-size: 0.8em;
  font-style: italic;
}

.main_deal_name{
  font-size: 1.5em;
  font-variant: small-caps;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  flex-grow: 1;
  width: 80%;
}
.cell {
  min-width: 300px;
  max-width: 500px;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  background-color: rgba(1, 0, 0, 0.7);

}
.form_container{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  height: 200px;
  width: auto;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.form_el{
  justify-content: center;
  display: flex;
  justify-content: flex-end;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttons_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 50px;
  line-height: 50px
}

.main{
  display: flex;
  flex-grow: 1;
  height: auto;
  align-items: stretch;
}
