<div class="form_container">

<h1>Today's deals: </h1>

<% for deal in @deals  %>
    <p>
      <img src="<%= deal.eatery.logo_url %>">
    </p>
    <p>
        <a href="/eateries/<%= deal.eatery.id %>/deals">
          <%= deal.name %>
        </a>
    </p>

<% end %>

</div>
