<div class="form_container">

<h1>Today's deals: </h1>

<% for deal in @deals  %>
    <p>
      <img src="<%= deal.eatery.logo_url %>">
    </p>
    <p>
        <a href="/eateries/<%= deal.eatery.id %>/deals">
          <%= deal.name %>
        </a>
    </p>

<% end %>

<% if @deals.length > 0  %>
<h2> Deals available on <%= @deals[0].day_of_the_week %> </h2>

<% end  %>

</div>
