<h1>Add new burgers to the eatery <%= @eatery.name %></h1>

<div class="form_container">
  <form action="/burgers" method="post">
    <div class="form_el">
      <p>
        <label for="eatery-name">Restaurant:</label>
        <% puts @eatery.name %>
        <input type="text" id="eatery-name" name="eatery_name"
        value="<%= @eatery.name %>"
        readonly>
      </p>
  </div>

    <div class="form_el">
      <p>
      <label for="burger-name">Burger name:</label>
      <input type="text" name="name" id="burger-name">
      </p>
    </div>

    <div class="form_el">
      <p>
      <label for="burger-price">Burger price:</label>
      <input type="text" name="price" id="burger-price">
      </p>
    </div>

    <div class="form_el">
      <p><input type='submit' value="Add a new burger"></p>
    </div>

  </form>

</div>
